<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="coloredConsoleDebug" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
    layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${pad:padCharacter=─:padding=-32:inner=${replace:searchFor=\\s-\\s.+:replaceWith=:regex=true:inner=${logger}}}${pad:padCharacter=─:padding=32:inner=${replace:searchFor=.+\\s-\\s:replaceWith=:regex=true:inner=${logger}}}|${message}${when:when=length('${exception}') > 0:inner=${newline}${exception:innerFormat=StackTrace:maxInnerExceptionLevel=2:innerExceptionSeparator=\\n:separator=\\s:format=ToString}}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
    </target>

    <target name="coloredConsoleInfo" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${pad:padCharacter=─:padding=-32:inner=${replace:searchFor=\\s-\\s.+:replaceWith=:regex=true:inner=${logger}}}${pad:padCharacter=─:padding=32:inner=${replace:searchFor=.+\\s-\\s:replaceWith=:regex=true:inner=${logger}}}|${message}${when:when=length('${exception}') > 0:inner=${newline}${exception:innerFormat=StackTrace:maxInnerExceptionLevel=2:innerExceptionSeparator=\\n:separator=\\s:format=ToString}}" >
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
    </target>    

    <target name="coloredConsoleWarn" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${pad:padCharacter=─:padding=-32:inner=${replace:searchFor=\\s-\\s.+:replaceWith=:regex=true:inner=${logger}}}${pad:padCharacter=─:padding=32:inner=${replace:searchFor=.+\\s-\\s:replaceWith=:regex=true:inner=${logger}}}|${message}${when:when=length('${exception}') > 0:inner=${newline}${exception:innerFormat=StackTrace:maxInnerExceptionLevel=2:innerExceptionSeparator=\\n:separator=\\s:format=ToString}}" >
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
    </target>

    <target name="coloredConsoleError" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${pad:padCharacter=─:padding=-32:inner=${replace:searchFor=\\s-\\s.+:replaceWith=:regex=true:inner=${logger}}}${pad:padCharacter=─:padding=32:inner=${replace:searchFor=.+\\s-\\s:replaceWith=:regex=true:inner=${logger}}}|${message}${when:when=length('${exception}') > 0:inner=${newline}${exception:innerFormat=StackTrace:maxInnerExceptionLevel=2:innerExceptionSeparator=\\n:separator=\\s:format=ToString}}" >
      <highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed" />
    </target>    

    <target name="coloredConsoleFatal" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${pad:padCharacter=─:padding=-32:inner=${replace:searchFor=\\s-\\s.+:replaceWith=:regex=true:inner=${logger}}}${pad:padCharacter=─:padding=32:inner=${replace:searchFor=.+\\s-\\s:replaceWith=:regex=true:inner=${logger}}}|${message}${when:when=length('${exception}') > 0:inner=${newline}${exception:innerFormat=StackTrace:maxInnerExceptionLevel=2:innerExceptionSeparator=\\n:separator=\\s:format=ToString}}" >
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
    </target>

    <target name="infoFile" xsi:type="File"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${pad:padCharacter= :padding=-32:inner=${replace:searchFor=\\s-\\s.+:replaceWith=:regex=true:inner=${logger}}}${pad:padCharacter= :padding=32:inner=${replace:searchFor=.+\\s-\\s:replaceWith=:regex=true:inner=${logger}}}|${message}${when:when=length('${exception}') > 0:inner=${newline}${exception:innerFormat=StackTrace:maxInnerExceptionLevel=2:innerExceptionSeparator=\\n:separator=\\s:format=ToString}}"
        fileName="${basedir}/logs/info.log" keepFileOpen="false" encoding="iso-8859-2" />
    <target name="errorFile" xsi:type="File"
        layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${pad:padCharacter= :padding=-32:inner=${replace:searchFor=\\s-\\s.+:replaceWith=:regex=true:inner=${logger}}}${pad:padCharacter= :padding=32:inner=${replace:searchFor=.+\\s-\\s:replaceWith=:regex=true:inner=${logger}}}|${message}${when:when=length('${exception}') > 0:inner=${newline}${exception:innerFormat=StackTrace:maxInnerExceptionLevel=2:innerExceptionSeparator=\\n:separator=\\s:format=ToString}}"
        fileName="${basedir}/logs/error.log" keepFileOpen="false" encoding="iso-8859-2" />
  </targets>

  <rules>
    <logger name="*" maxlevel="Debug" writeTo="coloredConsoleDebug" />
    <logger name="*" level="Info" writeTo="coloredConsoleInfo" />
    <logger name="*" level="Warn" writeTo="coloredConsoleWarn" />
    <logger name="*" level="Error" writeTo="coloredConsoleError" />
    <logger name="*" level="Fatal" writeTo="coloredConsoleFatal" />

    <logger name="*" maxlevel="Fatal" writeTo="infoFile" />
    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="errorFile" />
  </rules>
</nlog>